*{
    margin: 0;
    padding: 0;
}

html  body{
    height: 100%;
}

form{
    width: 96%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

form, fieldset{
    padding: 20px 40px;
    border-radius: 30px;
    background-image: url(../background-5050200_960_720.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
    
}

form, legend{
    text-align: center;
    color: rgb(252, 252, 252);
}

form input[type=text]{
    display: inline-block;
    margin-top: 30px;
    width: 80%;
    padding: 10px 13px;
    border: 1px solid #ffffff;
}

form, input[type=text]:focus, form select:focus {
   outline: 0;
    
}

form select{
    width:calc(80% + 26px);  
    margin-top: 30px;
    padding: 10px 13px;
    display: inline-block;
    border: 1px solid #ffffff;
}




form h2{
    margin-top: 20px;
    color: rgb(255, 255, 255);


}

.radio-input{
   display: inline-block;
    text-align: left;
    margin-top: 20px;
}

.radio-input span{
    margin-left: 30PX;
    font-size: 16px;
    color: rgb(252, 252, 252);
}

form input[type=submit]{
    margin-top: 30px;
    border: 0;
    font-size: 16px;
    border: 2px solid;
    width: 140px;
    height: 30px;
    background-color: transparent;
    color: #ffffff;
    cursor:   pointer
    

}